.header {
    /* background: transparent linear-gradient(to right, #f12711, #f5af19); */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}

h1 {
    margin: 0%;
    margin-left: 10px  ;
    font-style: italic;
}

span {
    text-transform: uppercase;
    font-size: medium;
    font-weight: 100;
}


.list {
    /* padding: 0; */
    /* padding-right: 5px; */
    list-style-type: none;
    display: flex;
}

.list li {
    margin-right: 60px;
    
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

p {
    margin-left: 20px;
}

.tech {
    font-size: small;
    font-weight: bold;
}

.select {
    background-color: initial;
    color: initial;
    border: initial;
   color: black;
    
    
    
}

